.t-entity-blueprint {

}

.t-entity-blueprint-grade {
    margin-inline-start: var(--space-xs);
}

.t-entity-blueprint-empty {
    color: var(--color-subtle);
    font-style: italic;
}

.t-entity-blueprint-aspect {
    padding: var(--space-sm);
}

.t-entity-blueprint-aspect__name {
    color: var(--color-subtle);
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
    font-weight: var(--font-weight-normal);
    margin: 0;
}

.t-entity-blueprint-material {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-sm);
}

.t-entity-blueprint-material__name, .t-entity-blueprint-material__quantity {
    position: relative;
    color: var(--color-emphasized);
    font-weight: var(--font-weight-medium);
    margin: 0;
}

.t-entity-blueprint-material__quantity {
    text-align: end;
}

.t-entity-blueprint-aspect-modifier__red {
    color: var(--color-destructive);
}

.t-entity-blueprint-aspect-modifier__green {
    color: var(--color-success);
}